service: workshop-serverless-graphql
app: workshop-serverless-graphql

plugins:
  - serverless-webpack
  - serverless-offline-sqs
  - serverless-offline
  - serverless-dynamodb-local
  - serverless-pseudo-parameters

package:
  individually: true

provider:
  name: aws
  runtime: nodejs10.x
  stackName: workshop-serverless-graphql-${self:provider.stage}
  region: ${opt:region, 'us-east-1'}
  stage: ${opt:stage, 'dev'}
  versionFunctions: false
  iamRoleStatements:
    - Effect: Allow
      Action:
        - sqs:*
      Resource:
        Fn::GetAtt: [ IngestQueue, Arn ]
    - Effect: "Allow"
      Action:
        - s3:*
      Resource:
        Fn::Join: ['', [Fn::GetAtt: [ OriginBucket, Arn ], '/*'] ]
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource:
        - Fn::GetAtt: [ DataTable, Arn ]
        - Fn::Join:
            - "/"
            - - { "Fn::GetAtt": [ DataTable, Arn ] }
              - "index/*"
    - Effect: Allow
      Action: ssm:GetParameters
      Resource:
        - 'arn:aws:ssm:#{AWS::Region}:#{AWS::AccountId}:parameter/API_KEY'
    - Effect: Allow
      Action: kms:Decrypt
      Resource:
        - 'arn:aws:kms:#{AWS::Region}:#{AWS::AccountId}:alias/aws/ssm'

custom:
  dataTableName: data-${self:provider.stage}
  originBucketName: ${self:provider.stackName}-images-bucket
  ingestQueue: ${self:service}-ingest-${self:provider.stage}
  serverless-offline-sqs:
    autoCreate: true
    apiVersion: '2012-11-05'
    endpoint: http://0.0.0.0:9324
    region: eu-west-1
    accessKeyId: root
    secretAccessKey: root
    skipCacheInvalidation: false
  dynamodb:
    stages:
      - dev
    start:
      port: 8000
      inMemory: true
      heapInitial: 200m
      heapMax: 1g
      migrate: true
      seed: true
      convertEmptyValues: true

functions:
  pull-data:
    name: ${self:provider.stackName}-pull-data
    handler: src/functions/pull-data.handler
    environment:
      API_URL: https://min-api.cryptocompare.com/
      LOCAL_URL: http://localhost:3000/
      REMOTE_URL: {
        "Fn::Join":
          [
            "",
            [" https://",
             { "Ref": "ApiGatewayRestApi" },
             ".execute-api.${self:provider.region}.amazonaws.com/${self:provider.stage}/"
            ]
          ]
      }
    events:
      - schedule: rate(1 hour)
      - http:
          path: pull-data
          method: get
          cors: true
  ingest:
    name: ${self:provider.stackName}-ingest
    handler: src/functions/ingest.handler
    environment:
      QUEUE_NAME: ${self:custom.ingestQueue}
      ENDPOINT: ${self:custom.serverless-offline-sqs.endpoint}
      QUEUE: !Ref IngestQueue
    events:
      - http:
          path: ingest
          method: post
          cors: true
  process:
    name: ${self:provider.stackName}-process
    handler: src/functions/process.handler
    environment:
      DATA_TABLE: ${self:custom.dataTableName}
    events:
      - sqs:
          queueName: IngestQueue
          arn:
            Fn::GetAtt:
              - IngestQueue
              - Arn
  expose:
    name: ${self:provider.stackName}-expose
    handler: src/functions/expose.handler
    environment:
      DATA_TABLE: ${self:custom.dataTableName}
    events:
      - http:
          path: expose
          method: get
          cors: true
  graphql:
    name: ${self:provider.stackName}-graphql
    handler: src/functions/graphql.handler
    environment:
      STAGE: ${self:provider.stage}
      NODE_ENV: development
    events:
      - http:
          path: graphql
          method: post
          cors: true
      - http:
          path: graphql
          method: get
          cors: true
  origin-response:
    name: ${self:provider.stackName}-origin-response
    handler: src/functions/origin-response.handler
    memorySize: 128
    timeout: 4
    events:
      - cloudFront:
          eventType: origin-response
          origin: s3://${self:custom.originBucketName}.s3.amazonaws.com/files
  viewer-request:
    name: ${self:provider.stackName}-viewer-request
    handler: src/functions/viewer-request.handler
    memorySize: 128
    timeout: 4
    events:
      - cloudFront:
          eventType: viewer-request
          origin: s3://${self:custom.originBucketName}.s3.amazonaws.com/files
  store-to-s3:
    name: ${self:provider.stackName}-store-to-s3
    handler: src/functions/store-to-s3.handler
    environment:
      ORIGIN_BUCKET_NAME: ${self:custom.originBucketName}
      IMAGE_URL: https://cryptocompare.com
    events:
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt: [DataTable, StreamArn]

resources:
  - ${file(resources/origin-bucket.yml)}
  - ${file(resources/resources.yml)}
