.App {
  text-align: center;
}

.table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table th, td {
  border: 1px solid #ddd;
  padding: 8px;
  
}
.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.table tr:nth-child(even){
  background-color: #f2f2f2;
}
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
}